In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

In [13]:
df = pd.read_csv("Cleaned_Walmart_Stock_Analysis.csv")

In [14]:
df

,Date,Year,Month,Day,Weekday,City,Product line,Unit price,Quantity,Predicted Quantity,Current Stock,Gap to Fulfill
0,05-01-2019,2019,1,5,5,Mexico City,Colgate Toothpaste,74.69,67,91,31,60
1,08-03-2019,2019,3,8,4,Hyderabad,Redmi Note 13,15.28,72,91,57,34
2,03-03-2019,2019,3,3,6,Mumbai,Samsung Galaxy M14,46.33,25,35,96,0
3,27-01-2019,2019,1,27,6,New York,Dettol Handwash,58.22,26,42,55,0
4,08-02-2019,2019,2,8,4,New York,Vim Bar,86.31,53,61,36,25
...,...,...,...,...,...,...,...,...,...,...,...,...
995,29-01-2019,2019,1,29,1,Delhi,Godrej Hair Dye,40.35,55,78,14,64
996,02-03-2019,2019,3,2,5,Hyderabad,Dove Shampoo,97.38,84,95,58,37
997,09-02-2019,2019,2,9,5,Mexico City,Milton Water Bottle,31.84,55,73,21,52
998,22-02-2019,2019,2,22,4,Toronto,Gillette Razor,65.82,65,92,87,5
999,18-02-2019,2019,2,18,0,Tokyo,Kellogg's Cornflakes,88.34,31,53,57,0

In [15]:
# Preprocess
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')
df['City_encoded'] = LabelEncoder().fit_transform(df['City'])
df['Product_encoded'] = LabelEncoder().fit_transform(df['Product line'])

In [18]:
# Select features and target
X = df[['Year', 'Month', 'Day', 'Weekday', 'City_encoded', 'Product_encoded', 'Unit price', 'Quantity']]
y = df['Predicted Quantity']# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Train model
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)
# Predict and evaluate
y_pred = model.predict(X_test)
print("MAE:", mean_absolute_error(y_test, y_pred))
print("RMSE:", np.sqrt(mean_squared_error(y_test, y_pred)))
print("RÂ² Score:", r2_score(y_test, y_pred))

MAE: 7.02895
RMSE: 8.22299157849502
RÂ² Score: 0.8834388430108585

âœ… Dataset updated and saved as Walmart_Enhanced_RealWorld.csv